/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
/*}*/
@keyframes luckyCoffee {
    0% { color: red; left:0px; top: 0px;}
    50% { color: green; left:200px; top: 50px; }
    75% { color: blue; left:200px; top: 200px;}
    100% { color: red; left:0px; top: 0px; }

}
body {
    background-color: bisque;
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}
tbody {
    border: 1px solid black;
    padding: 5px 10px;
}
#coffeeName {
    width: 100%;
}
h3 {
    text-align: center;
}
input {
    border-radius: 5px;
}
#coffees {
    display: flex;
    flex-wrap: wrap;
}
section {
    margin: 0;
}

footer {
    border-top: 1px solid grey;
}
.coffee {
    color: rgba(180, 82, 21, 0.62);
    font-family: 'Playfair Display', sans-serif;
}
header {
    font-family: 'Raleway', sans-serif;
    background-image: url("Light-Medium-Dark-Roast-Beans-2500_2500x.jpg");
    background-size: cover;
    color: #fdf3e0;
}
.sub-header {
    font-family: 'Raleway', sans-serif;
}
.by {
    font-size: x-small;
}
.light {
    color: #f5b467;
}
.medium {
    color: #bd7a2d;
}
.dark {
    color: #673902;
}
.roastLevel {
    width: 55%;
}
.coffeeList {
    display: inline-table;
}
.luckyCoffee {
    animation-name: luckyCoffee;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    z-index: 1000;

}
#submit1 {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(228, 100%, 47%);
    color: white;
    transform: translateY(-6px);
}
#pushable {
    background: hsla(210, 100%, 50%, 0.53);
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    width: 100%;
}
#pushable:active #submit1 {
    transform: translateY(-2px);
}