/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/*!* cell color *!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
/*div.tall-row {*/
/*    height: 300px;*/
/*}*/

#coffeeName {
    width: 100%;
}
h3 {
    text-align: center;
}
input {
    border-radius: 5px;
}
#coffees {
    display: flex;
    flex-wrap: wrap;
}
section {
    margin: 0;
}

footer {
    border-top: 1px solid grey;
}
.coffee {
    color: rgba(180, 82, 21, 0.62);
    font-family: 'Playfair Display', sans-serif;
}
nav {
    width: 100%;
}
header {
    font-family: 'Raleway', sans-serif;
    background-image: url("Light-Medium-Dark-Roast-Beans-2500_2500x.jpg");
    background-size: cover;
    color: #fdf3e0;
    width: 100%;
}
.sub-header {
    font-family: 'Raleway', sans-serif;
}
.by {
    font-size: x-small;
}
.light {
    color: #f5b467;
}
.medium {
    color: #bd7a2d;
}
.dark {
    color: #673902;
}
.roastLevel {
    width: 55%;
}
.coffeeList {
    display: inline-table;
}
#submit1 {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(228, 100%, 47%);
    color: white;
    transform: translateY(-6px);
}
#pushable {
    background: hsla(210, 100%, 50%, 0.53);
    border: none;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    width: 100%;
}
#pushable:active #submit1 {
    transform: translateY(-2px);
}
.luckyCoffee{
    z-index: 1000;
}
.card-container {
    perspective: 700px;
    margin-inline-end: 18px;

}
.card-flip {
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
    height: auto;
    transition: all 0.5s ease-out;
    background: white;
    border: none;
}

.card-flip div {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    border: none;
}

.card-flip .front {
    position: relative;
    z-index: 1;
}

.card-flip .back {
    position: relative;
    z-index: 0;
    transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
    transform: rotateY(180deg);
}
.card-block {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
.back {
    font-size: 12px;
    position: relative;
    bottom: 3em;
}
.card-text {
    position: relative;
    top: 1em;
}
.rotate {
    animation: rotation 3s ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}